{% load branding compress horizon i18n %}

<nav id="sidebar">
  <a class="mc-sidebar-brand" href="{% site_branding_link %}" target="_self">
    <span class="mc-brand-logo"><svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M6.6 19A4.5 4.5 0 0 1 5.9 10 6 6 0 0 1 17.6 8.4 4.2 4.2 0 0 1 17 19z"/></svg></span>
    Openstack
  </a>
  {% horizon_nav %}
</nav>

{% compress js file mycloud_runtime_js %}
<script src="{{ STATIC_URL }}themes/mycloud/js/mycloud.js"></script>
{% endcompress %}
