{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Overview" %}{% endblock %}

{% block breadcrumb_nav %}{% endblock %}

{% block page_header %}
<div class="mc-page-head">
  <div>
    <div class="mc-page-crumb"><strong>{% trans "Project" %}</strong> / {% trans "Overview" %}</div>
    <h1 class="mc-page-title">{% trans "Overview" %}</h1>
  </div>
  <div class="mc-page-actions">
    <a href="javascript:void(0);"
       ng-controller="LaunchInstanceModalController as modal"
       ng-click="modal.openLaunchInstanceWizard({successUrl: '{% url 'horizon:project:instances:index' %}'})"
       class="btn btn-primary btn-sm btn-launch">
      <span class="fa fa-plus"></span> {% trans "Launch Instance" %}
    </a>
  </div>
</div>
{% endblock %}

{% block main %}
  {% include "horizon/common/_limit_summary.html" %}
  {% include "horizon/common/_az_limit_summary.html" %}
  {% include "horizon/common/_quota_summary.html" %}

  {% if simple_tenant_usage_enabled %}
  <div class="mc-usage-table">
    <div class="mc-usage-table-head">
      <span class="mc-usage-table-title">{% trans "Recent Instances" %}</span>
      <a href="{% url 'horizon:project:instances:index' %}" class="btn btn-default btn-sm mc-btn-ghost">{% trans "View All" %}</a>
    </div>
    {{ table.render }}
  </div>
  {% endif %}
{% endblock %}
